@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');



@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Montserrat;
  box-sizing: border-box;
}

:root {
  --primary-color: #0f4a7b;
  --btn-color: #ea5566;
  --text-color: #3e3e40b2;
  --primary-font:"Open Sans"

  --shadow: 0 4px 8px 0 rgb(243, 239, 239), 0 6px 20px rgb(243, 239, 239);
}

/* .GuestBoard {
  font-family: 'Open Sans';
} */


.popup {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 50;
}

.popups {
  top: 60px;
  width: 200px;
  right: 0px;
  z-index: 100;
  position: absolute;
}

.glass21 {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: opacity(60px);

  background-size: contain;
}

.overlay {
  min-height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  width: 100%;
  z-index: 10;
}

/* font name 
Gilroy ☞ */

/* primary font 
font-family: Gilroy-Regular ☞;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.12em;
text-align: left; */

/* primary color background: #0F4A7B; */

/* text color : #3E3E40B2; */

/* button color #EA5566; */
