@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: Poppins;
  box-sizing: border-box;
}

:root {
  --primary-color: #0f4a7b;
  --btn-color: #ea5566;
  --text-color: #3e3e40b2;

  --shadow: 0 4px 8px 0 rgb(243, 239, 239), 0 6px 20px rgb(243, 239, 239);
}

.popup {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* font name 
Gilroy ☞ */

/* primary font 
font-family: Gilroy-Regular ☞;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.12em;
text-align: left; */

/* primary color background: #0F4A7B; */

/* text color : #3E3E40B2; */

/* button color #EA5566; */
